body {
  margin: 0;
  margin-bottom: 70px;
}

.player-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: darkgrey;
}

.player-bar-info {
  display: inline-block;
  width: 49%;
  color: #333;
  padding-left: 65px;
  box-sizing: border-box;
}

.player-bar-info-img {
  position: absolute;
  left: 0;
  top: 10px;
  width: 60px;
  height: 60px;
}

.player-bar-controls {
  position: relative;
  display: inline-block;
  float: right;
  height: 60px;
}

.player-bar-progress-wrapper {
  height: 10px;
  width: 100%;
  background-color: lightgrey;
}

.player-bar-progress-meter {
  width: 50%;
  height: 10px;
  background-color: yellow;
}

.player-bar-button {
  background: red;
  height: 60px;
  width: 60px;
  border: none;
  margin: 0;
  margin-left: -5px;
  padding: 0;
}

.player-bar-button:hover {
  background: yellow;
}

.player-bar-volume-wrapper {
  position: absolute;
  left: -15px;
  top: 0;
  float: left;
  width: 10px;
  height: 60px;
  background-color: lightgrey;
}

.player-bar-volume-meter {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: yellow;
}
